@media (max-width: 768px){

.content{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content:space-between;
    align-items: center;
   padding: 20px;
}
.data{
    color: hsl(184, 14%, 56%);
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-left: 40px;
    overflow: hidden;
    font-size: 2rem;
}
.data #valor{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 70px;
    background-image: url(./images/icon-dollar.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 10px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
}
.separate{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-top: 3rem;
}
h4{
    transform: translateY(15px);
    width: 50%;
    font-size: 2rem;
}
.cant{
    color: red;
    position: relative;
    z-index: 9;
    width: 40%;
    transform: translateY(15px);
    margin: 0px;
    padding: 0px;
    display: none;
}
.tip{
    position: relative;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.tip .tipBtn{
    background-color: hsl(183, 100%, 15%);
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    width: 340px;
    height: 80px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.tip input[type="number"]{
    text-align: center;
    background-color: hsl(189, 41%, 97%); 
}
.people{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    height: 8rem;
    width: 90%;
    background-image: url(./images/icon-person.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 15px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    z-index: 10;
    margin-top: 1rem;
}
.values{
    position: relative;
    border-radius: 15px;
    height: 40%;
    width: 100%;
    background-color: hsl(183, 100%, 15%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;
}
.tipAmount, .total{
    display: flex;
    justify-content: space-between;
}
.tipAmount, .total h5{
   color: #fff;
   font-size: 2rem;
}
.tipAmount span, .total span{
  color: hsl(184, 14%, 56%);
  font-size: 1rem;
}
.tipvalue, .totalvalue{
    color: hsla(172, 67%, 45%, 1);
    font-size: 40px;
    font-weight: 700;
    font-size: 4rem;
}
.values input[type=button]{
    background-color: hsla(183, 100%, 28%, 1);
    height: 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: hsla(183, 100%, 15%, 1);
    font-weight: 700;

}

}
@media (max-width: 414px){
    main img{
     margin-top: 50px;
    }
.content{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content:space-between;
    align-items: center;
   padding: 20px;
}
.data{
    color: hsl(184, 14%, 56%);
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-left: 40px;
    overflow: hidden;
}
h3{
    font-size: 1.1rem;
}
.data #valor{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    background-image: url(./images/icon-dollar.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 10px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
}

.separate{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h4{
    transform: translateY(15px);
    width: 70%;
    font-size: 1.1rem;
}
.cant{
    color: red;
    position: relative;
    z-index: 9;
    width: 40%;
    transform: translateY(15px);
    margin: 0px;
    padding: 0px;
    display: none;
}


.tip{
    position: relative;
    height: 40%;
}
.tip .tipBtn{
    background-color: hsl(183, 100%, 15%);
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.tip input[type="number"]{
    text-align: center;
    background-color: hsl(189, 41%, 97%); 
}


.people{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    background-image: url(./images/icon-person.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 10px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
   
}

.values{
    position: relative;
    border-radius: 15px;
    height: 40%;
    width: 100%;
    background-color: hsl(183, 100%, 15%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;

}
.tipAmount, .total{
    display: flex;
    justify-content: space-between;
}
.tipAmount, .total h5{
   color: #fff;
   font-size: 25px;
}
.tipAmount span, .total span{
  color: hsl(184, 14%, 56%);
}
.tipvalue, .totalvalue{
    color: hsla(172, 67%, 45%, 1);
    font-size: 30px;
    font-weight: 700;
}
.values input[type=button]{
    background-color: hsla(183, 100%, 28%, 1);
    height: 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: hsla(183, 100%, 15%, 1);
    font-weight: 700;

}
}
