@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main{
    height: 100%;
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}
main img{
    margin-top: 10px;
}
.content{
    margin: 0 auto;
    width: 70%;
    height: 85vh;
    display: flex;
    border-radius: 20px;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
}
.data{
    color: hsl(184, 14%, 56%);
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
}
.data #valor{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    height: 40px;
    background-image: url(./images/icon-dollar.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 10px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
}
.data #valor:focus{
    background-color: hsl(189, 41%, 97%);
    border: 2px solid hsla(172, 67%, 45%, 1)!important;
    outline: none;
    color: hsla(183, 100%, 28%, 1);
}

.data #valor::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    appearance: none;
}
.separate{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
h4{
    transform: translateY(15px);
    width: 50%;
}
.cant{
    color: red;
    position: relative;
    z-index: 9;
    width: 40%;
    transform: translateY(15px);
    margin: 0px;
    padding: 0px;
    display: none;
}
.data .zero{
    display: block;
}
 .data .zero::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    appearance: none;
}
 .data .zero:focus{
    border: 2px solid red;
    outline:none;
}
.tip{
    position: relative;
}
.tip .tipBtn{
    background-color: hsl(183, 100%, 15%);
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.tip .tipBtn:hover{
    background-color: hsla(185, 41%, 84%, 1);
}
.tip .tipBtn:active{
    background-color: hsla(172, 67%, 45%, 1);
}
.tip input[type="number"]{
    text-align: center;
    background-color: hsl(189, 41%, 97%); 
}
.tip input[type="number"]:focus{
    background-color: hsl(189, 41%, 97%);
    border: 2px solid hsla(172, 67%, 45%, 1)!important;
    outline: none;
    color: hsla(183, 100%, 28%, 1);
    text-align: end;
}
#custom::-webkit-inner-spin-button,::-webkit-outer-spin-button,:focus{
    appearance: none;
    
}
.people{
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    height: 40px;
    background-image: url(./images/icon-person.svg);
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x: 10px;
    text-align: end;
    padding: 10px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
   
}
.people::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    appearance: none;
}
.values{
    margin-right: 40px;
    border-radius: 15px;
    height: 80%;
    width: 45%;
    background-color: hsl(183, 100%, 15%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 40px;
}
.tipAmount, .total{
    display: flex;
    justify-content: space-between;
}
.tipAmount, .total h5{
   color: #fff;
}
.tipAmount span, .total span{
  color: hsl(184, 14%, 56%);
}
.tipvalue, .totalvalue{
    color: hsla(172, 67%, 45%, 1);
    font-size: 40px;
    font-weight: 700;
}
.values input[type=button]{
    background-color: hsla(183, 100%, 28%, 1);
    height: 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: hsla(183, 100%, 15%, 1);
    font-weight: 700;

}
.values input:hover{
    background-color: hsla(172, 67%, 45%, 1);
    cursor: pointer;
}

